/* Make sure the main app container can fill the whole window */
#app {
    height: 100vh;
}

/* Create a "safe area" at the top of the page */
header {
    padding-left: env(titlebar-area-x, 20px);
    padding-right: env(
        titlebar-area-width,
        200px
    ); /* The width of the controls */
    padding-top: env(titlebar-area-y, 10px);
    height: env(titlebar-area-height, 40px);
}
